<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculadora</title>
</head>
<body onload="init();">
  <div style="text-align: center;">
    <h1>Calculadora</h1>
  </div>

  <table class="calculadora">
    <tr>
      <td colspan="4"><span id="resultado"></span></td>
    </tr>
    <tr>
      <td><button id="siete">7</button></td>
      <td><button id="ocho">8</button></td>
      <td><button id="nueve">9</button></td>
      <td><button id="division">/</button></td>
    </tr>
    <tr>
      <td><button id="cuatro">4</button></td>
      <td><button id="cinco">5</button></td>
      <td><button id="seis">6</button></td>
      <td><button id="multiplicacion">*</button></td>
    </tr>
    <tr>
      <td><button id="uno">1</button></td>
      <td><button id="dos">2</button></td>
      <td><button id="tres">3</button></td>
      <td><button id="resta">-</button></td>
    </tr>
    <tr>
      <td><button id="igual">=</button></td>
      <td><button id="reset">C</button></td>
      <td><button id="cero">0</button></td>
      <td><button id="suma">+</button></td>
    </tr>
    </table>

  
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculadora</title>
</head>
<body class="cal">
  <form name="calculator">
    <input type="textfield" name="visualiza" id="visualiza" [(ngModel)]="visualiza">
    <input type="hidden" name="memoria" id="memoria" [(ngModel)]="memoria" >
    
  <div class="cal1">
  <br>
  <input type="button" value="7" class="gris" (click)="siete('')">
  <input type="button" value="8" class="gris" (click)="ocho('')">
  <input type="button" value="9" class="gris" (click)="nueve('')">
  <input type="button" value="+" class="gris" (click)="suma()">
  </div>

  <div class="cal1">
  <br>
  <input type="button" value="4" class="gris" (click)="cuatro('')">
  <input type="button" value="5" class="gris" (click)="cinco('')">
  <input type="button" value="6" class="gris" (click)="seis('')">
  <input type="button" value="-" class="gris" (click)="resta()">
  </div>

  <div class="cal1">
  <br>
  <input type="button" value="1" class="gris" (click)="uno('')">
  <input type="button" value="2" class="gris" (click)="dos('')">
  <input type="button" value="3" class="gris" (click)="tres('')">
  <input type="button" value="x" class="gris" (click)="multiplica()">
  </div>

    <div class="cal1">
  <br>
  <input type="button" value="0" class="gris" (click)="cero('')">
  <input type="reset" value="c" class="gris" (click)="borrar()">
  <input type="button" value="/" class="gris" (click)="divide()">
  <input type="button" value="=" class="gris" (click)="resultado()">
  </div>
  </form>
</body>
</html>

